env SAMPLE_INTERVAL=1000000
env SAMPLE_OFFSET=0
env PROCTYPE={{ proc_type_modalias['stdout'] }}

{% if has_gpu %}
load name=dcgm_sampler
config name=dcgm_sampler instance=${HOSTNAME}/dcgm producer=${HOSTNAME} schema=dcgm interval=10000000 fields={{ ldms_dcgm_fields|join(',') }}
start name=dcgm_sampler instance=${HOSTNAME}/dcgm producer=${HOSTNAME} interval=10000000 offset=0
{% endif %}

load name=slurm_sampler
config name=slurm_sampler producer=${HOSTNAME} instance=${HOSTNAME}/slurm job_count=32
start name=slurm_sampler interval=${SAMPLE_INTERVAL} offset=${SAMPLE_OFFSET}

load name=vmstat
config name=vmstat producer=${HOSTNAME} instance=${HOSTNAME}/vmstat schema=vmstat job_set=${HOSTNAME}/slurm
start name=vmstat interval=${SAMPLE_INTERVAL} offset=${SAMPLE_OFFSET}

load name=meminfo
config name=meminfo producer=${HOSTNAME} instance=${HOSTNAME}/meminfo schema=meminfo job_set=${HOSTNAME}/slurm
start name=meminfo interval=${SAMPLE_INTERVAL} offset=${SAMPLE_OFFSET}

#load name=procstat
#config name=procstat producer=${HOSTNAME} instance=${HOSTNAME}/procstat schema=procstat_${PROCTYPE} job_set=${HOSTNAME}/slurm
#start name=procstat interval=${SAMPLE_INTERVAL} offset=${SAMPLE_OFFSET}

load name=lustre2_client
config name=lustre2_client producer=${HOSTNAME} instance=${HOSTNAME}/lustre2_client llite=${LLITE} schema=lustre_llite job_set=${HOSTNAME}/slurm
start name=lustre2_client interval=${SAMPLE_INTERVAL} offset=${SAMPLE_OFFSET}

load name=loadavg
config name=loadavg producer=${HOSTNAME} instance=${HOSTNAME}/loadavg schema=loadavg job_set=${HOSTNAME}/slurm
start name=loadavg interval=${SAMPLE_INTERVAL} offset=${SAMPLE_OFFSET}

load name=hello_sampler
config name=hello_sampler producer=${HOSTNAME} instance=${HOSTNAME}/hello_sampler stream=nersc component_id=1
start name=hello_sampler interval=${SAMPLE_INTERVAL} offset=0

{% if has_cxi %}
load name=slingshot_info
config name=slingshot_info producer=${HOSTNAME} instance=${HOSTNAME}/slingshot_info
start name=slingshot_info interval=${SAMPLE_INTERVAL} offset=0

env CXI_COUNTERS={{ cassini_counters|join(',') }}
load name=slingshot_metrics
config name=slingshot_metrics producer=${HOSTNAME} instance=${HOSTNAME}/slingshot_metrics counters=${CXI_COUNTERS} refresh_interval_sec=3600
start name=slingshot_metrics interval=${SAMPLE_INTERVAL} offset=0
{% endif %}

load name=procstat2
config name=procstat2 producer=${HOSTNAME} instance=${HOSTNAME}/procstat
start name=procstat2 interval=${SAMPLE_INTERVAL}

load name=procnetdev2
config name=procnetdev2 producer=${HOSTNAME} instance=${HOSTNAME}/procnetdev
start name=procnetdev2 interval=${SAMPLE_INTERVAL}

